.example-form-field {
    width: 100%;
}
.example-form-field-add-remove {
  width: 100%;
  margin-bottom: 10px;
}
table {
    width: 100%;
    margin-top: 10px;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }