<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Registrar Pedido</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="orderForm">
            <mat-form-field class="example-form-field">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field class="example-form-field">
                <mat-label>Teléfono</mat-label>
                <input matInput type="text" formControlName="phone">
            </mat-form-field>
            <mat-form-field class="example-form-field">
                <input matInput [ngxMatDatetimePicker]="picker" placeholder="Dia de Entrega" formControlName="deliveryDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker >
                </ngx-mat-datetime-picker>
            </mat-form-field>              
            <mat-form-field class="example-form-field">
                <mat-label>Dirección</mat-label>
                <input matInput type="text" formControlName="direction">
            </mat-form-field>
            <mat-form-field class="example-form-field">
                <mat-label>Descripción</mat-label>
                <textarea matInput formControlName="description" placeholder="Ej. Diseño de dinosaurio..."></textarea>
            </mat-form-field>
            <mat-form-field class="example-form-field">
                <mat-label>Mensaje</mat-label>
                <textarea matInput formControlName="message" placeholder="Ej. Feliz cumpleaños..."></textarea>
            </mat-form-field>
            <!-- <div class="example-form-field-add-remove" style="text-align: end">
                <button mat-icon-button color="primary" >
                    <mat-icon style="cursor: pointer; color: green;">add_circle</mat-icon>
                 </button>
                <button mat-icon-button [disabled]="true" color="primary" >
                    <mat-icon  style="cursor: pointer; color: red;">remove_circle</mat-icon>
                 </button>
            </div> -->
            <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
                <!-- Item Column -->
                <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef>
                        Item
                    </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.item | slice: 0:40}} </td>
                    <td mat-footer-cell *matFooterCellDef> Total </td>
                </ng-container>
                
                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell style="text-align: center;" *matCellDef="let transaction"> {{transaction.quantity | numbers}} </td>
                    <td mat-footer-cell *matFooterCellDef>  </td>
                  </ng-container>

                <!-- Cost Column -->
                <ng-container matColumnDef="cost">
                  <th mat-header-cell *matHeaderCellDef> Precio </th>
                  <td mat-cell *matCellDef="let transaction"> ${{transaction.cost | numbers}} </td>
                  <td mat-footer-cell *matFooterCellDef> ${{getTotalCost() | numbers}} </td>
                </ng-container>
              
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let transaction" style="text-align: end">
                        <mat-icon style="cursor: pointer; color: red;">remove_circle</mat-icon>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
              </table>
              
          </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-button routerLink="/orders/list">CANCELAR</button>
        <button mat-button type="submit" [disabled]="!orderForm.valid">REGISTRAR</button>  
    </mat-card-actions>
  </mat-card>
  